header, main, footer
{
	min-width: 855px;
}

.container 
{
	max-width: 855px;
	margin: auto;
}

body
{
	background: #f9e933;
}
	
header
{
	background: white;
	overflow: auto;
}

header h1
{
	float: left;
	width: 570px;
}

header nav
{
	float: right;
	width: 285px;
}
	
main
{
	background: white;
	overflow: auto;
}

.leftContent
{
		float: left;
	width: 570px;	
}

.rightContent
{
	float: right;
	width: 285px;	
}

main p, main h2, main h3, main ul
{
	float: left;
	width: 570px;
}


main img
{
	float: right;
	width: 285px;
}

footer
{
	clear: both;
}
